"*":
  editor:
    fontFamily: "Source Code Pro"
    fontSize: 11
    showIndentGuide: true
    tabLength: 4
    useShadowDOM: false
    invisibles: {}
    softWrap: true
  core:
    disabledPackages: [
      "whitespace"
      "Remote-FTP"
    ]
    themes: [
      "atom-dark-ui"
      "sunburst"
    ]
  linter: {}
  welcome:
    showOnStartup: false
