"*":
  editor:
    fontFamily: "Source Code Pro"
    fontSize: 11
    showIndentGuide: true
    preferredLineLength: 1000
    tabLength: 4
    useShadowDOM: false
    invisibles: {}
  core:
    disabledPackages: [
      "whitespace"
    ]
    themes: [
      "atom-dark-ui"
      "sunburst"
    ]
